/* Configuración general */
/* Enlaces generales */
a,
nav a {
    text-decoration: none;
}

/* Estilo del cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #10cef0;
    background-image: url('../_img/th.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Colores de texto para elementos comunes */
a,
h1,
h2,
h3,
p {
    color: #f4f5f5;
}

/* Enlaces */
a {
    color: inherit;
    transition: color 0.3s;
}

a:focus,
a:hover {
    color: #3498db;
}

/* Contenedores generales */
aside,
footer,
header,
main,
nav,
section {
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(8, 243, 212, 0.1);
}

/* Encabezado */
header {
    background-color: #4007663a;
    color: #fff;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

/* Navegación */
nav {
    background-color: #1f4770;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    color: #eaf4f7;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* también centra el texto si lo deseas */
}
